footer{
    height: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    position: absolute;
    bottom:0;
    background: hsla(197, 100%, 63%, 1);
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );
}

.disclaimer-premium{
   color:white;
}

.disclaimer-premium__title{
   line-height: 30px;
}

.button{
    margin: 0;
}

footer button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}



